@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: coffee;
    src: url('../font/timesbi.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

header {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-radius: 20px;
}

header::before {
    content: '';
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background: #fec800;
    z-index: -2;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
    background: #efefed;
    z-index: -2;
}

header nav {
    position: absolute;
    width: 100%;
    height: 15%;
    padding: 0 2.5%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .left__side,
header nav .right__side {
    height: 20px;
    display: flex;
    align-items: center;
}

header nav .left__side .logo {
    width: 70px;
    margin-right: 20px;
}

header nav .left__side .nav__card {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

header nav .left__side .search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 100px;   
}

header nav .left__side .search input {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #343434;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
}

header nav .left__side .search i {
    font-size: 22px;
    transform: rotate(85deg);
    position: relative;
    top: -3px;
}

header nav .right__side ul {
    display: flex;
    align-items: center; 
    list-style: none;
}

header nav .right__side ul li {
    margin-left: 20px;
}

header nav .right__side ul li a {
    color: #fff;
    font-size: 18px;
    transition: all 0.4s linear;
}

header nav .right__side ul li a:hover {
    color: #343434;
}

header nav .right__side .help {
    margin: 0 20px 0 40px;
    border-bottom: 2px solid #fff;
    transition: all 0.4s linear;
}

header nav .right__side .help a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: all 0.4s linear;
}

header nav .right__side .help:hover {
    border-bottom: 2px solid #343434;
}

header nav .right__side .help a:hover {
    color: #343434;
}

header nav .right__side .menu__btn {
    color: #fff;
    margin-left: 20px;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

header nav .right__side .menu__btn:hover {
    color: #343434;
}

header section {
    width: 100%;
    position: absolute;
    top: 15%;
    height: 85%;  
    display: flex;
}

header section .content__bx {
    width: auto;
    height: auto;
    position: relative;
    top: 20%;
    left: 10%;
}

header section .content__bx h1 {
    font-family: coffee;
    font-size: 75px;
}

header section .content__bx p {
    font-size: 13px;
    margin-top: 10px;
    width: 300px;
    line-height: 25px;
}

header section .content__bx a:nth-child(3) {
    position: relative;
    font-size: 14px;
    color: #343434;
    text-decoration: none;
    font-family: coffee;
    top: 15px;
    transition: all 0.4s ease-in-out;
}

header section .content__bx a:nth-child(3):hover {
    color: gray;
}

header section .content__bx a:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 3px;
    background: #343434;
    bottom: -5px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}

header section .content__bx a:nth-child(3):hover::before {
    width: 100%;
    background: gray;
}

header section .content__bx .price__bx {
    display: flex;
    align-items: center;
    position: relative;
    top: 90px;
}

header section .content__bx .price__bx h5 {
    font-family: coffee;
    font-size: 60px;
}

header section .content__bx .price__bx button {
    border-radius: 50%;
    background: #fec800;
    color: #fff;
    border: none;
    outline: none;
    padding: 1px 4px;
    margin-left: 30px;
    cursor: pointer; 
    transition: all 0.4s ease-in-out;
}

header section .content__bx .price__bx button i {
    font-size: 35px;
}

header section .content__bx .price__bx button:hover {
    transform: rotate(360deg);
}

section .steps {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80%;
    background: #fec800;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

section .steps h4, h6 {
    color: #fff;
}

section .steps h6 {
    position: relative;
    width: 2px;
    height: 120px;
    background: #fff;
    cursor: pointer;
}

section .steps h6::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    transform: rotate(45deg);
    left: -7px;
    top: -3px;
}

section .steps h6::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    transform: rotate(-45deg);
    right: -7px;
    top: -3px;
}

section .steps h6:nth-child(3)::before {
    transform: rotate(-45deg);
    left: -7px;
    top: unset;
    bottom: -3px;
}

section .steps h6:nth-child(3):after {
    transform: rotate(45deg);
    right: -7px;
    top: unset;
    bottom: -3px;
}

header section .main__img {
    position: absolute;
    right: 26%;
    top: 0;
    width: 480px;
}

header section .cart__pagi {
    position: absolute;
    width: 70px;
    height: 90%;
    right: 3%;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header section .cart__pagi .pagi {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
}

header section .cart__pagi .pagi button {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 10px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

header section .cart__pagi .pagi button:hover {
    width: 15px;
    height: 15px;
}

header section .cart__pagi .pagi button:nth-child(1) {
    width: 15px;
    height: 15px;
}

header section .cart__pagi .cart {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section .cart__pagi .cart .bi-cart4 {
    padding: 5px 12px;
    border-radius: 50%;
    background: #fff;
    font-size: 22px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

header section .cart__pagi .cart .bi-cart4:hover {
    transform: rotate(360deg);
}

header section .cart__pagi .cart .cart__bx {
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 200px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s linear;
    opacity: 0;
}

header section .cart__pagi .cart .cart__bx_active {
    opacity: 1;
    height: 250px;
}

header section .cart__pagi .cart .cart__bx .coffee__cards {
    width: 100%;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    overflow-y: auto;
    scroll-behavior: smooth;
}

header section .cart__pagi .cart .cart__bx .coffee__cards::-webkit-scrollbar {
    width: 5px;
    background: rgba(254, 200, 0, 0.3);
}

header section .cart__pagi .cart .cart__bx .coffee__cards::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(254, 200, 0);
    border-radius: 10px;
}

header section .cart__pagi .cart .cart__bx .coffee__total {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 10px;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card i {
    cursor: pointer;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card .img_title {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #fec800;
    padding-bottom: 5px;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card .img_title img {
    width: 30px;
    margin-right: 5px;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card .img_title .title_price h5 {
    font-size: 12px;
}

header section .cart__pagi .cart .cart__bx .coffee__cards .card .img_title .title_price h6 {
    color: #000;
}



